.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.justify-content{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.align-items{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    background-color: aqua;
    height: 400px;
}

.align-content{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    background-color: aqua;
    height: 400px;
}

.box{
    background-color: #78ff07;
    padding: 5px 40px;
  	font-size: 20px;
  	border-radius: 3px; 
  	border: 1px solid black; 
}